

<br><br><br>
<H1 class="panel-heading text-center popover-header">Create new  Home</H1>
<br>
<div class="container">
  <div class="card card-container">
    <form class="form-signin"  (ngSubmit)="OncreateHome(f)" #f="ngForm">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="number" id="homeSize" class="form-control" name="homeSize"
             placeholder="Size" required autofocus ngModel class="form-control">
      <br>
      <input type="number" id="homeNbp" class="form-control" name="homeNbp"
             placeholder="number of people" required autofocus ngModel class="form-control" >
      <br>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create Home</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->

