


<div class="container" >
  <br><br><br>
  <H1 class="panel-heading text-center popover-header">HOMES</H1>
<br>
  <div class="row col-md-18 col-md-offset-2 ">

    <div class="dropdown">
      <a class="btn-top" style="margin-right: 15px;"  class="btn btn-primary btn-success pull-right"
      (click)="OncreateHome()"> <span class="glyphicon glyphicon-plus"></span>Create Home</a>
    </div>
    <br><br><br>

    <table class="table table-striped">
      <thead>
      <tr class="row-name text-center">
        <th>Id</th>
        <th>SIZE</th>
        <th>Number of people</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-content text-center" *ngFor="let home of listHome">
        <td>{{home.id}}</td>
        <td>{{home.taille}}</td>
        <td>{{home.nbP}}</td>
        <td>
          <a class="btn btn-danger btn-xs text-white" >Delete</a>
        </td>
        <td>
          <a class="btn btn-info btn-xs text-white"  > <span class="glyphicon glyphicon-link"></span>Edit </a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


